/* Place CSS styles here */
body {
    background-color: #f5f5dc;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display SC", serif;
    font-weight: 800;
}

/*for layout of images (media screen is supposed to scale it to smaller screens) */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
  }
  
 
.column {
    flex: 15%;
    max-width: 15%;
    gap: 10px;
  }
  
.column img {
    margin-top: 8px;
    margin-left: 8px;
    vertical-align: middle;
    width: 100%;
  }
 
@media screen and (max-width: 768px) {
    .column {
      flex: 23%;
      max-width: 23%;
    }
  }

  .featured-text h1 {
    margin-right: 60px;
    font-size: 90px;
    text-align: right;
  }
/*not fully understanding how this works, learned about it on w3, glad it mostly worked on the other one
@media screen and (max-width: 600px){
    .featured-text h1 {
        margin-right: 0px;
        font-size: 25px;
    }
}*/