/*whenever I tried to use the WebAIM contrast checker I could not for the life of me get it to work, kept hitting a "forbidden" error
and for*/

body {
    background-color: #f5f5dc;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display SC", serif;
    font-weight: 800;
    text-align: center;
    font-size: 28px;
}

header {
    font-family: "Playfair Display SC", serif;
    font-weight: 800;
    font-size: 52px;
    height: auto;
    position: sticky;
    background-color: #f5f5dc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height */
    overflow: hidden;
}

.hero-images {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.hero-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.hero-images img.active {
    opacity: 1;
}
/*this is for the layout of images
found tutorials for this on W3*/
.showcase-box {
    display: flex;
    width: 100%;
}
.showcase {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    max-height: 100%;
    overflow-y: auto;
    padding: 10px;
    width: 50%;
    left: 0;
    max-width: 100%;

    /*from the internet :)*/
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.showcase::-webkit-scrollbar {
    display:none
}
.showcase img {
    max-width: 100%;
    height: auto;
}

.about-art {
    position: relative;
}
.about-art p {
    text-align: center;
}

.about-me {
    position: relative;
}
.about-me p {
    text-align: center;
}

.socials {
    position: relative;
}
.links {
    text-align: center;
}

.tabs-box {
    top: 10%;
    right: 0;
    width: 45%;
    padding: 30px;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.tab {
    flex: auto;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f5f5dc;
    text-align: center;
    height: 40px;
}
.tab.active {
    background-color: #dcdcdc;
    font-weight: bold;
    border: 1px solid #ccc;
}
.tab-content {
    overflow-y: auto;
    margin-top: 10px;
    width: auto;
    background-color: #dcdcdc;
}
.tab-item {
    display: none;
}
.tab-item.active {
    display: block;
}